* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  color: #fff;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #070707;
  overflow: hidden;
}

#side-menu {
  margin: 60px;
  margin-top: 30px;
}
.logo {
  font-size: 30px;
  font-family: 900;
  margin-bottom: 20px;
}
.nav-items {
  position: relative;
}
.nav-items ul {
  list-style: none;
}
.nav-item {
  position: absolute;
}
.nav-text {
  margin-left: 30px;
  color: #333;
  font-size: 18px;
}

.nav-text::before {
  content: "";
  position: fixed;
  left: 95px;
  top: 120px;
  bottom: 70px;
  width: 2px;
  background-color: #333;
}
.nav-text.dot::after {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.4s ease;
}
.nav-item.active .nav-text.dot::after {
  background-color: aqua;
}

.nav-number {
  color: #333;
  font-size: 18px;
}

.nav-item.active .nav-number,
.nav-item.active .nav-text {
  color: #fff;
}
.top-nav {
  display: flex;
  justify-content: space-between;
}
.menu-icon {
  font-size: 29px;
  right: 0;
  cursor: pointer;
}
.hero {
  position: relative;
}
.hero-section {
  left: 220px;
  top: 45px;
  font-size: 50px;
  position: absolute;
  display: flex;
}
.container {
  width: 100%;
  height: 100vh;
  perspective: 1000px;
}
.nav-bar {
  transform-origin: left;

  transition: transform 0.5s ease;
}
.hidden-nav {
  position: absolute;
  top: 70px;
  right: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  transition: all 0.2s ease;
}
.hidden-nav ul {
  list-style-type: none;
  padding: 0;
}

.hidden-nav ul li {
  margin: 50px 0;
}

.hidden-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 34px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.menu-active.nav-bar {
  position: relative;
  left: 160px;
  top: 50px;

  width: 850px;
  height: 600px;

  border: 3px solid #fff;
  transform: rotateY(40deg);
}

.hidden-nav li a.active {
  text-decoration: line-through;
  text-decoration-color: #3498db;
  text-decoration-thickness: 8px;
}
.menu-active.hidden-nav {
  right: 150px;
  top: 50px;
  visibility: visible;
  display: flex;
}
.image-container {
  perspective: 1000px;
  width: 400px;
  height: 400px;
  position: fixed;
  right: 60px;
  top: 60px;
}

.image-3d {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(images/hero-image-11.jpg);
  background-size: cover;
  background-position: center;
  transform-style: preserve-3d;
  animation: rotateImage 25s infinite linear;
  transition: opacity 1s ease;
}
.menu-active.nav-bar .image-3d {
  opacity: 0;
  pointer-events: none;
}
@keyframes rotateImage {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
button.resume {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 47px;
}
/** about starts*/
.about-head {
  position: absolute;
  width: 100%;
  left: 300px;
}
.about-contents {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  top: 150px;
}
.about-description {
  width: 300px;
  background-color: #695f5f;
  margin-right: 20px;
  padding: 10px;
  border-radius: 6px;
}
.about-image {
  position: relative;
  width: 200px;
  height: 210px;
  background-color: #4070f4;
  border-radius: 50%;
  margin-right: 20px;
  padding: 3px;
}
.about-skills {
  width: 300px;
  background-color: #695f5f;
  margin-right: 20px;
  padding: 10px;
  border-radius: 6px;
}
.menu-active.nav-bar .about-head {
  position: relative;
  left: 100px;
}
.menu-active.nav-bar .about-contents {
  position: relative;
  width: 500px;
}
.desc-head {
  font-size: 16px;
  margin-bottom: 10px;
  color: #070707;
}
.desc-main {
  font-size: 1vw;
  color: #070707;
}
.about-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.skill-head {
  font-size: 16px;
  margin-bottom: 10px;
  color: #070707;
}
.about-skills {
  font-size: 1vw;
  color: #070707;
  overflow: hidden;
}
.menu-active.nav-bar .about-description {
  position: relative;
  width: 500px;
  height: 150px;
  font-size: 0.5vw;
  overflow: hidden;
}
.menu-active.nav-bar .about-image {
  position: relative;
  width: 500px;
  height: 170px;
}
.menu-active.nav-bar .about-skills {
  position: relative;
  width: 500px;
  height: 150px;
  font-size: 0.5vw;
  overflow: hidden;
}
/**portfolio*/

.portfolio-button {
  color: #070707;
}
.portfolio-list .portfolio-item {
  list-style: none;
  opacity: 0;
  transition: opacity 0.7s ease;
  position: absolute;
}
.portfolio-item.show {
  opacity: 1;
  position: relative;
}
.portfolio-list .portfolio-item .portfolio-link {
  user-select: none;

  text-decoration: none;
  position: relative;
  margin: 0 250px;
}
.portfolio-list .portfolio-link .portfolio-image {
  object-fit: cover;
  border-radius: 50%;
}
.portfolio-list .portfolio-link .badge {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  width: fit-content;
  margin: 10px 350px;
  padding: 8px 16px;
}
.portfolio-list .portfolio-link .portfolio-title {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  width: fit-content;
  margin: 10px 250px;
  padding: 8px 16px;
}
.portfolio-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
}
.portfolio-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
  max-width: 100%;
}

.portfolio-list {
  display: flex;
  gap: 20px;
}
.arrow {
  position: relative;
  cursor: pointer;
  top: -85px;
}
